<nav class="navbar navbar-dark bg-dark">
  <div>
    <button type="button"  data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">MovieBible</a>
  </div>
  <!-- TODO LA LUNE
  <i src="../../../shared/images/moon.png"></i> -->

  <div>
    <button type="button" class="btn btn-class" (click)="goToMovies()">
      Movies
    </button>
    <button type="button" class="btn btn-class" (click)="goToSeries()">
      Series
    </button>
  </div>

  <div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


</nav>
