<ng-container *ngIf="moviesPlaying && moviesUpComming">
  <!-- <app-list-movies [movies]="moviesLatest"></app-list-movies> -->
  <app-list-movies [movies]="moviesPlaying" [title]="nowPlaying"></app-list-movies>
  <app-list-movies [movies]="moviesUpComming" [title]="upcoming"></app-list-movies>
</ng-container>
