<h1>{{title}}</h1>
<div class="row">

  <ng-container *ngFor="let movie of movies">
    <div class="card-body">
      <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}" style="height: 460px">
      <p class="text-center">{{ movie.original_title }}</p>
      <a routerLink="/movie/{{ movie.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>
    </div>
  </ng-container>

</div>
